<div class="completer-holder" ctrCompleter  (focusout)="onBlur()">
  <input class="completer-input" ctrInput [(ngModel)]="_searchString" autocomplete="off" (keyup)="changeValue()" [placeholder]="param.placeholder"
    autocorrect="off" autocapitalize="off" (focus)="onFocus()"/>

  <div class="completer-dropdown-holder">
    <div class="completer-dropdown" ctrDropdown *ngIf="isInitialized">
      <div *ngIf="searchActive && displaySearching" class="completer-searching">...</div>
      <div *ngIf="!searchActive && (!_results || _results.length == 0)" class="completer-no-results">No data</div>
      <div class="completer-row-wrapper" *ngFor="let item of _results; let itemIndex = index">
        <span class="completer-category " *ngIf="canShowCategory(_results, item, itemIndex)">{{item.category}}</span>
        <div class="completer-row" (click)="selectItem(item.title)">
          <div class="completer-item-text" [innerHTML]="item.title">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>